
.hidden {
    visibility: hidden;
    display: none;
}


select option {
  width:400px;
}

h2{
	text-align: center; 
	color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #9400D3 !important;
}

.tableau{
	margin-left:auto;
  	margin-right:auto;
  	width: 70%;
}